body {
  font: 1rem Arial;
}

ul {
  width: 50%;
  padding: 3%;
  overflow-x: auto;
}

li {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.function {
  color: #b7da3f;
  margin-right: -10px;
}

.parameter {
  color: #ee983c;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #272722;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  body {
    background: white;
  }
  ul {
    background: #272722;
    color: white;
  }
}
