@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  padding: none;
  margin: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  font-family: "Inter", sans-serif;
  color: #333;
  background-color: #fff;
  text-align: center;
}

button {
  font-family: "Inter", sans-serif;
  border-radius: 50px;
  border-width: thin;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.5rem;
}

button {
  cursor: pointer;
  border: none;
  background: #1e90ff;
  color: white;
}

button:hover {
  background: #0070f3;
}
